@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../resources/main.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-obacity {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: calc(100% + 680px);
  z-index: -1;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b1b1b1;
  width: 100%;
  height: 84px;
}

nav {
  margin-right: 200px;
}

nav ul {
  float: right;
  list-style: none;
  position: relative;
  margin-top: 27px;
}

nav ul li {
  display: inline-block;
  float: left;
}

.customize-logo-link {
  color: #fff;
  text-decoration: none;
}

.logo-text {
  display: inline;
  float: left;
  display: initial;
  margin-top: -0px;
  margin-left: 200px;
  letter-spacing: 3px;
  color: #fff;
  padding: 0px 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-family: cursive;
}

nav a {
  color: #ddd;
  letter-spacing: 1px;
  padding-left: 0;
  padding-right: 0;
  padding: 10px 13px;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 15px;
  text-decoration: none;
  vertical-align: middle;
}

nav li.book {
  background: #047ffc;
  padding: 10px 25px;
  color: white;
  display: block;
  margin-top: -7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.color-override {
  color: white;
  font-weight: bold;
}

.logo-img {
  margin-left: 550px;
}

form {
  width: 100%;
  float: right;
  position: relative;
  margin-top: 40px;
}

.sub-container {
  float: left;
  list-style: none;
  position: relative;
}

.container-box-main {
  background: white;
  border-radius: 6px;
  border: #2980b9 4px solid;
  width: 300px;
  height: 490px;
  display: inline-block;
  float: right;
  margin-left: 60px;
  margin-top: 0px;
}

.packages-imgs {
  width: 290px;
  height: 200px;
  background-position: center;
  border-color: #2980b9;
  border-width: 2px;
  border-style: outset;
  margin: 5px 5px 5px 3px;
}

/* main info*/
.text-1 {
  font-family: sans-serif;
  margin-left: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

/* for more info parag */
.text-2 {
  color: white;
  margin-left: 75px;
  margin-top: 7px;
}

label {
  font-size: 20px;
  margin-left: 30px;
}

.discount {
  font-size: 35px;
  margin-left: 270px;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: white;
  font-weight: lighter;
  font-family: serif;
}

.admin {
  height: 50px;
  width: 210px;
  margin: 18px 0px 0px 50px;
}

input {
  width: 200px;
  height: 20px;
  margin-top: 5px;
}
